@import '../../Freelancer/components/Sidebar.less';

.buyer-sidebar .sidebar-brand {
  justify-content: flex-start;
}

.buyer-sidebar .sidebar-upgrade h4 {
  font-size: 17px;
}

.buyer-sidebar .sidebar-upgrade button {
  background: linear-gradient(135deg, #12d8fa, #0060ff);
}
